@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&display=swap');
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', system-ui, sans-serif;
}

.font-arabic {
  font-family: 'Amiri', serif;
  direction: rtl;
}

.font-translation-en {
  font-family: 'Inter', sans-serif;
}

.font-translation-bn {
  font-family: 'Noto Sans Bengali', sans-serif;
}

.range-slider {
  width: 100%;
}

.range-label {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

/* 
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;

  font-family:
    Inter,
    system-ui,
    sans-serif;
}

.font-arabic {
  font-family: 'Amiri', serif;
} */