@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&family=Scheherazade+New:wght@400;700&display=swap');
@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', system-ui, sans-serif;
}

.font-arabic-amiri {
  font-family: 'Amiri', serif;
  direction: rtl;
}

.font-arabic-scheherazade {
  font-family: 'Scheherazade New', serif;
  direction: rtl;
}

.font-translation-en {
  font-family: 'Inter', sans-serif;
}

.font-translation-bn {
  font-family: 'Noto Sans Bengali', sans-serif;
}

.range-slider {
  width: 100%;
}

.range-label {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 0.5rem;
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #16a34a;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #15803d;
}